

<h4>Choose an option:</h4>
<select [ngModel]="options" (ngModelChange)="onSelectItem($event)" name="inputType" class="drop-down-picker">
  <option class="option" [ngValue]="i" *ngFor="let i of options">{{i.text}}</option>
</select>

<div *ngIf="selectedOption == 1">
  <h4>Enter text here:</h4>
  <textarea class="textarea-field full-width" [(ngModel)]="textInput"></textarea>
  <div>
    <h3 *ngIf="displayResult" class="result">Total words: {{resultvalue}}</h3>
    <button class="button-count" type="button" (click)="CountFromInput()">COUNT</button>
  </div>
</div>

<div *ngIf="selectedOption == 2">
  <div>
    <h3 *ngIf="displayResult" class="result">Total words: {{resultvalue}}</h3>
    <button class="button-count" type="button" (click)="CountFromDB()">COUNT</button>
  </div>
</div>

<div *ngIf="selectedOption == 3">
  <h4>Upload .txt file:</h4>
  <div class="full-width">
    <input type="file" class="upload-field" (change)="onFileSelected($event)" accept=".txt" />
    <button class="button-count" type="button" (click)="CountFromFile()">COUNT</button>
  </div>
  <div>
    <h3 *ngIf="displayResult" class="result full-width">Total words: {{resultvalue}}</h3>
  </div>
</div>
